@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap');


:root {
        --main-color: hsl(24, 20%, 95%);
        --main-hover-color: hsl(24, 20%, 90%);
        --main-padding: 5px;
        --main-margin: 10px;
        --main-font-family: 'verdana';
        --main-font-size: 16px;
        --green-color: #4caf50;
        --red-color: #bc5150;
        --blue-color: #165b8d;
        --orange-color: #bc8650;

        --font-color: rgb(45, 45, 45);
        --grey-color: #999999;
        --cian-color: #3cc3aa;
}

.operator {
        background-color: transparent !important;
        color: var(--grey-color) !important;
}
code {
        color: var(--font-color) !important;
}
.comment {
        color: var(--green-color) !important;
}
.keyword {
        color: var(--blue-color) !important;
}
.string {
        color: var(--orange-color) !important;
}
.number {
        color: var(--font-color) !important;
}
.class-name {
        color: var(--cian-color) !important;
}

* {
        user-select: none;
        color: var(--font-color);
        margin: none;
        text-shadow: none !important;
        font-family: 'Red Hat Mono', monospace !important;
        font-size: 16px !important;
        font-weight: 600 !important;
}

#pattern-container,
#sol-description-container {
        margin-top: var(--main-margin);
        display: flex;
        flex-wrap: wrap;
        gap: var(--main-margin);
}

button,input {
        margin: 0 !important;
}

div,
input,
button {
        font-family: var(--main-font-family);
        font-size: var(--main-font-size);
}

.pattern-card {
        background-color: var(--main-color);
}

.pattern-card:hover {
        scale: 1.1;
}

.creational {
        border: 5px solid hsla(1, 45%, 92%);
}

.behavioral {
        border: 5px solid hsl(205, 73%, 92%);
}

.structural {
        border: 5px solid hsl(169, 53%, 92%);
}

button {

        background-color: var(--main-color);
        border: none;
        border: 5px solid var(--main-color);
}

button:hover {
        background-color: var(--main-hover-color);
        border: 5px solid var(--main-hover-color);
}

#solDescription-container {

        font-style: italic;
}

input {
        border-radius: 0px;
        border: 5px solid var(--main-color);
}

#score {
        pointer-events: none;
}

#result-board {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
}

.heartbeat {
        -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
        animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
        from {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: center center;
                transform-origin: center center;
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        10% {
                -webkit-transform: scale(0.91);
                transform: scale(0.91);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        17% {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        33% {
                -webkit-transform: scale(0.87);
                transform: scale(0.87);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        45% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }
}

#opaque-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 300vh;
        background-color: rgba(255,255,255,0.8);
}

#progress-bar {
        display: flex;
        padding-top: var(--main-padding);
        padding-bottom: var(--main-padding);
}

pre {
        font-family: var(--main-font-family) !important;
        margin: 0 !important;
}

.circle {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--main-color);
        margin-right: var(--main-padding);
}

      .redcirc {
        background-color: var(--red-color);
        opacity: 0.85 !important;
      }

      .greencirc {
        background-color: var(--cian-color);
        opacity: 0.85 !important;
      }

      .pulse {
        animation: pulse 3s infinite;
      }

        @keyframes pulse {
          0% {
            box-shadow: 0 0 0 0 var(--grey-color);
          }

          70% {
            box-shadow: 0 0 0 5px transparent;
          }

          100% {
            box-shadow: 0 0 0 0 transparent;
          }
        }